*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.content{
  
  margin-top: 10px;
  min-height: 100vh;
  position: relative;
}
.home-content{
  
  margin-top: 10px;
  box-shadow: 0 0 2px black;
  position: relative;
}

.footer{
  position:absolute;
  min-height:50px
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; 
}
.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; 
}

/* transaction page */
.filters{
  display: flex;
  
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 2px  black;
}



.analytics{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 1px  gray;
}

.switch-icons{
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  /* padding: 10px 15px;  */
}

.custom-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}