*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
}

.content{
  
  margin-top: 10px;
  min-height: 100vh;
  position: relative;

}
.home-content{
  
  margin-top: 10px;
  box-shadow: 0 0 2px black;
  position: relative;
}

.footer{
  position:absolute;
  min-height:50px
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #dfe7fe;
}
.login-page{
  display: flex;
  border: solid;
  align-items: center;
  /* justify-content: center; */
  align-content : center ;
  height: 100vh; 
  background-color: #e5e7f4;
}

/* transaction page */
.filters{
  display: flex;
  
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 2px  black;
  
}



.analytics{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 1px  gray;
}

.switch-icons{
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  /* padding: 10px 15px;  */
}

.custom-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* animation of img login-page */
.animated-image {
  position: relative;
  animation-name: slide-from-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slide-from-top {
  0% {
      top: -100px;
      opacity: 0;
  }
  100% {
      top: 0;
      opacity: 1;
  }
}

